# Root Project
/.idea/

# Backend (Spring-Boot App)
/Backend/.idea/
/Backend/target/

# Electron.js App
/ElectronApp-Websocket/node_modules/
/ElectronApp-Websocket/.idea/
/ElectronApp-Websocket/package-lock.json
