<table>
  <thead>
  <tr>
    <th>contractAddress</th>
    <th>nameHI</th>
    <th>holdersHI</th>
    <th>liquidityHI</th>
    <th>createdDateHI</th>
    <th>averageTax</th>
    <th>averageGas</th>
    <th>buyTax</th>
    <th>buyGas</th>
    <th>sellTax</th>
    <th>sellGas</th>
    <th>transferTax</th>
    <th>honeypotReason</th>
    <th>currencyTypeName</th>
    <th>isHoneypot</th>
    <th>isOpensource</th>
    <th>currencyTypeIndex</th>
    <th>nameDI</th>
    <th>holdersDI</th>
    <th>liquidityDI</th>
    <th>createdDateDI</th>
    <th>symbol</th>
    <th>updatedDate</th>
  </tr>
  </thead>
  <thead>
  <tr *ngFor="let newPair of newPairModels">
    <td>{{newPair.contractAddress}}</td>
    <td>{{newPair.nameHI}}</td>
    <td>{{newPair.holdersHI}}</td>
    <td>{{newPair.liquidityHI}}</td>
    <td>{{newPair.createdDateHI}}</td>
    <td>{{newPair.averageTax}}</td>
    <td>{{newPair.averageGas}}</td>
    <td>{{newPair.buyTax}}</td>
    <td>{{newPair.buyGas}}</td>
    <td>{{newPair.sellTax}}</td>
    <td>{{newPair.sellGas}}</td>
    <td>{{newPair.transferTax}}</td>
    <td>{{newPair.honeypotReason}}</td>
    <td>{{newPair.currencyTypeName}}</td>
    <td>{{newPair.isHoneypot}}</td>
    <td>{{newPair.isOpensource}}</td>
    <td>{{newPair.currencyTypeIndex}}</td>
    <td>{{newPair.nameDI}}</td>
    <td>{{newPair.holdersDI}}</td>
    <td>{{newPair.liquidityDI}}</td>
    <td>{{newPair.createdDateDI}}</td>
    <td>{{newPair.symbol}}</td>
    <td>{{newPair.updatedDate}}</td>
  </tr>
  </thead>
</table>
